<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <script>
        function f_write() {
            document.getElementById("writeForm").submit();
        }
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid #000;
        }
        .error-msg {
            color: #FF0000;
        }
    </style>
</head>
<body>
<div th:include="header :: header"></div>

    <h1>Student Write</h1>

    <form th:id="writeForm" th:object="${student}" th:action="@{/write}" th:method="post">
        <div>
            <p>
                Name : <input th:name="name" />
                <br /><span th:class="error-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </p>
            <p>
                Grade : <input th:name="grade" />
                <br /><span th:class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </p>
            <p>
                Age : <input th:name="age" />
                <br /><span th:class="error-msg" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </p>
            <p>
                Hobby : <input th:name="hobby" />
                <br /><span th:class="error-msg" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </p>
        </div>

        <hr />
    </form>

    <button th:onclick="'f_write()'">등록</button>
    <button th:onclick="history.back()">뒤로</button>

    <div th:include="footer :: footer"></div>
</body>
</html>