<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Springboot Pageable</title>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>

    <style>
        . { margin: 0; padding: 0; }
        .board-form { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; }
        .board-title>input { width: 100%; height: 30px; }
        .board-content { width: 100%; height: 500px; }
        .board-content>textarea { width: 100%; height: 500px; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>
    <script>
        function fnModify() {
            document.getElementById("boardForm").submit();
        }
    </script>
</head>
<body>
    <h1>Sample Springboot Pageable</h1>

    <div class="board-form">
        <form th:id="boardForm" th:action="@{/board/modify/{id}(id=${board.id})}" th:method="post" th:object="${board}">
            <div class="board-title">
                <input th:name="title" th:type="text" th:field="${board.title}" />
            </div>
            <div class="board-content">
                <textarea th:name="content" th:field="${board.content}"></textarea>
            </div>
        </form>
        <div class="board-buttons">
            <a th:href="@{/board/list}"><button>목록</button></a>
            <a th:href="@{/board/detail/{id}(id=${board.id})}"><button>취소</button></a>
            <button onclick="fnModify()">수정</button>
        </div>
    </div>
</body>
</div>
</html>