<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Springboot Pageable</title>

    <style>
        .board-view { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; line-height: 40px; border: 1px #ddd solid; }
        .board-content { width: 100%; min-height: 500px; border: 1px #ddd solid; margin-top: 10px; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>

    <script>
        function fnDelete(){
            document.getElementById("boardForm").submit();
        }
    </script>

</head>
<body>
    <h1>Sample Springboot Pageable</h1>

    <div class="board-view">
        <div class="board-title">
            <span th:if="${board!= null}" th:text="${board.title}"></span>
        </div>
        <div class="board-content">
            <p th:if="${board!= null}" th:utext="${board.content}"></p>
        </div>

        <form th:id="boardForm" th:action="@{/board/delete/{id}(id=${board.id})}" th:method="post" th:object="${board}"></form>

        <div class="board-buttons">
            <a th:href="@{/board/list}"><button>목록</button></a>
            <button onclick="fnDelete()">삭제</button>
            <a th:href="@{/board/modify/{id}(id=${board.id})}"><button>수정</button></a>
        </div>
    </div>
</body>
</div>
</html>