<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // var studnetName = '[[${studentName}]]';
        var studnetName = /*[[${studentName}]]*/'홍길녀'; // 위의 방법이 오류로 인식될 때 사용
        alert('안녕하세요. '+studnetName+'입니다.');
        /*]]>*/
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid #000;
        }
        .odd {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Student</h1>

    <H2>Variable Expressions</H2>
    <div>
        <!-- "' '" 를 이용함 -->
        <span th:text="|Totalcount : ${totalcount}|">0</span>
    </div>
    <div>
        <!-- "| |" 를 이용함 -->
        <span th:text="'Totalcount : ' + ${totalcount}">0</span>
    </div>

    <hr />

    <H2>Message Expressions</H2>
    <div>
        <!-- message.properties -->
        <span th:id="totalcount" th:text="#{board.totalcount(${totalcount})}">0</span>
    </div>

    <hr />

    <H2>Link Url Expressions</H2>
    <div>
        <!-- Parameter -->
        <a th:text="${studentName}" th:href="@{/student/detail(id=${studentId})}"></a>
    </div>
    <div>
        <!-- Multi Parameter -->
        <a th:text="${studentName}" th:href="@{/student/detail(id=${studentId}, name=${studentName})}"></a>
    </div>
    <div>
        <!-- PathVariable -->
        <a th:text="${studentName}" th:href="@{/student/detail/{id}(id=${studentId})}"></a>
    </div>
    <div>
        <!-- httpServletRequest.requestURL -->
        <a th:text="${studentName}" th:href="@{__${#httpServletRequest.requestURL}__}"></a>
    </div>
    <div>
        <!-- httpServletRequest.requestURI -->
        <a th:text="${studentName}" th:href="@{|${#httpServletRequest.requestURI}/student|}"></a>
    </div>


    <hr />

    <H2>Conditional statement</H2>
    <div>
        <!-- null or 0 체크-->
        <span th:text="${studentName != null and #strings.length(studentName) > 0} ? ${studentName} : '없음'"></span>
    </div>
    <div>
        <!-- if/unless -->
        <span th:if="${totalcount} != 0" th:text="|Totalcount : ${totalcount}|"></span>
        <span th:unless="${totalcount} != 0">0</span>
    </div>
    <div>
        <!-- if -->
        <span th:if="${studentName.equals('홍길동')}">홍길동</span>
    </div>
    <div>
        <!-- 이항 연산자 -->
        <td th:text="${totalcount} ? 'Totalcount : ' + ${totalcount} : 'Totalcount : 0'" ></td>
    </div>
    <div>
        <!-- Switch/case -->
        <td th:switch="${totalcount}" >
            <span th:case="0">Totalcount : 0</span>
            <span th:case="5">Totalcount : 5</span>
            <span th:case="10">Totalcount : 10</span>
        </td>
    </div>

    <hr />

    <H2>Select</H2>
    <div>
        <!-- List<String> -->
        <label th:for="classroom">반 선택 : </label>
        <select th:id="classroom">
            <option value="">없음</option>
            <option th:each="classRoom : ${classRoomList}" th:value="${classRoom}" th:text="${classRoom}"></option>
        </select>
    </div>
    <div>
        <!-- Map<Integer, String> -->
        <label th:for="classroom">반 선택 : </label>
        <select th:id="classroom">
            <option value="">없음</option>
            <option th:each="classRoom : ${classRoomMap}" th:value="${classRoom.key}" th:text="${classRoom.value}"></option>
        </select>
    </div>

    <hr/>

    <H2>Input</H2>
    <div>
        <input type="checkbox" name="isStudent" th:checked="${isStudent}" />
    </div>

    <hr/>

    <h2>Iterator</h2>
    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Age</th>
                <th>Hobbies</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${studentList}">
                <td th:text="${student.id}"></td>
                <td><a th:text="${student.name}"></a></td>
                <td th:text="${student.grade}"></td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.hobbies}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Age</th>
                <th>Hobbies</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student,iterStat : ${studentList}" th:class="${iterStat.odd} ? 'odd'">
                <td th:text="${student.id}"></td>
                <td><a th:text="${student.name}"></a></td>
                <td th:text="${student.grade}"></td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.hobbies}"></td>
            </tr>
            <!--
                iterStat에서 사용할 수 있는 속성
                - index : 0부터 시작하는 index
                - count : 1부터 시작하는 index
                - size : index의 사이즈
                - current : 현재 index 변수
                - even/odd : 짝수/홀수
                - first/last : 처음/마지막
            -->
            </tbody>
        </table>
    </div>

    <hr />

    <H2>Attribute</H2>
    <div>
        <!-- 각 태그의 속성을 지정할 수 있음 -->
        <img th:src="@{/image/ico_new.gif}" th:title="${studentName}" th:alt="${studentName}">
    </div>
    <div>
        <img src="/static/image/ico_new.gif" th:attr="src=@{/image/ico_new.gif}, title=${studentName}, alt=${studentName}">

    </div>


    <hr />

    <H2>Css Style</H2>
    <div>
        <input type="button" value="I can doing" class="btn" th:attrappend="class=${' '+ studentName}" />
    </div>

    <hr />

    <h2>Remove</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Age</th>
                    <th>Hobbies</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${studentList}" th:remove="all">
                    <td th:text="${student.id}"></td>
                    <td><a th:text="${student.name}"></a></td>
                    <td th:text="${student.grade}"></td>
                    <td th:text="${student.age}"></td>
                    <td th:text="${student.hobbies}"></td>
                </tr>
                <!--
                remove 속성
                - all : 자신을 포함한 자식 삭제
                - body : 자신을 제외한 자식 삭제
                - tag : 자신은 삭제하고 자식은 제외
                - all-but-first : 첫번째를 자식을 제외한 나머지 자식 삭제
                - remove : 삭제하지 않음
                -->
            </tbody>
        </table>
    <div>

    </div>

    <hr />
    <h2>Fragment</h2>

    <div th:include="header :: #header"></div><!-- id의 내용을 가져옴 -->
    <div th:include="header :: headerFragment"></div><!-- fragment의 내용을 가져옴 -->
    <div th:include="header :: headerParamFragment(${studentName})"></div><!-- fragment의 파라미터를 넘겨줌 -->
    <div th:include="header :: headerValueFragment(name=${studentName})"></div><!-- fragment의 파라미터를 넘겨줌 -->

    <hr />

    <h2>Local Variable</h2>
    <div th:with="firstStudent=${studentList[0]},secondStudent=${studentList[1].name+'님'}">
        My Name is <span th:text="${firstStudent.name}"></span><br />
        My Name is <span th:text="${secondStudent}"></span><br />
        <!-- with는 다른 속성 값 보다 우선 순위가 높다 -->
    </div>

    <hr />

    <h2>Remark</h2>
    <div>
        <!--
        아래는 span 태그가 html에 보임
        <span th:text="|Totalcount : ${totalcount}|">0</span>
        -->

        <!--/*
        아래는 span 태그가 html에 안보임
        <span th:text="|Totalcount : ${totalcount}|">0</span>
        */-->
    </div>

    <hr />

    <h2>Text Inlining</h2>
    <div>
        안녕하세요. <span th:text="${studentName}"></span>입니다.<br />
        안녕하세요. [[${studentName}]]입니다.!<br />
    </div>

    <hr />

</body>
</html>