<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/temp">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        table, tr, th, td {
            border: 1px solid #000;
            width: 500px;
        }
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        function fnSubmit() {
            document.getElementById("modifyForm").submit();
        }
    </script>
</th:block>

<div layout:fragment="content">

    <h1>Student Modify</h1>

    <form th:id="modifyForm" th:action="@{/student/modify/{id}(id=${student.id})}" th:method="post">
        <p>Name : <input name="name" th:value="${student.name}" /></p>
        <p>Grade : <input name="grade" th:value="${student.grade}" /></p>
        <p>Age : <input name="age" th:value="${student.age}" /></p>
        <p>Hobby : </p>
        <p id="addHobbies" th:each="hobby : ${student.hobbies}">
            <input name="hobbies" th:value="${hobby}" /><br />
        </p>
    </form>

    <hr />
    <button onclick="fnSubmit()">제출</button>
    <button onclick="history.back()">뒤로</button>
</div>

</html>