<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <style>
        #display{ height: 300px; }
        #send{ height: 50px; }
        #send .send-msg{ float: left; resize: none; overflow-y: scroll; width: 300px; height: 50px; }
        #send .send-btn{ float: left; margin-left: 5px; width: 50px; height: 50px; }
    </style>
    <script>
        const webSocket = new WebSocket("ws://" + location.host + "/chat");

        webSocket.onopen = function () {
            sendMessage("웹소켓 서버와 연결에 성공했습니다.");
        };

        webSocket.onmessage = function (event) {
            addMessage(event.data);
        };

        webSocket.onclose = function () {
            sendMessage("웹소켓 서버와 연결이 종료되었습니다.");
        };

        webSocket.onerror = function (error) {
            sendMessage(error);
        };

        function fnSend() {
            const message = document.getElementById("message").value;
            sendMessage(message);
        }

        function sendMessage(message) {
            webSocket.send(message);
        }

        function addMessage(message){
            let display = document.getElementById("display");
            let pre = document.createElement("p");
            pre.style.wordWrap = "break-word";
            pre.innerHTML = message;
            display.appendChild(pre);
        }
    </script>
</head>
<body>
    <h1>WebSocket</h1>
    <div id='chat'>
        <hr />

        <div id='display'>

        </div>

        <hr />
        <div id="send">
            <form class="sendForm">
                <textarea id="message" class='send-msg' placeholder="내용을 입력해주세요."></textarea>
                <input type="button" class="send-btn" onclick="fnSend();" value="Send" />
            </form>
        </div>
    </div>
</body>
</html>