<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>upload</title>
</head>
<body>
    <form id="uploadForm" action="/file-upload/multi" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>파일 업로드</legend>
            <label>업로드1 : <input type="file" name="uploadFiles" multiple="multiple" /></label><br>
            <label>업로드2 : <input type="file" name="uploadFiles" multiple="multiple" /></label><br>
            <input type="submit">
        </fieldset>
    </form>

</body>
</html>
