<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment" id="header">
    <span><u>Simpolor</u>님이 접속하였습니다.</span>
    <hr/>
</div>

<div th:fragment="headerParamFragment(id, name)" id="headerParam">
    <span><u th:text="${name}"></u>님이 접속하였습니다.</span>
    <span><u th:text="${id}"></u>학생 번호입니다.</span>
    <hr/>
</div>

<div th:fragment="headerInheritanceFragment(header)">
    <div th:insert="${header}"></div>
</div>

<div th:fragment="headerAssertFragment(name)" th:assert="${!#strings.isEmpty(name)}">
    <span><u th:text="${name}"></u>님이 접속하였습니다.</span>
    <hr/>
</div>

</html>